@mixin phone() {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1000px) {
    @content;
  }
}
